/* Styles pour la section des mods */
#mods {
    max-width: 800px;
    margin: 40px auto;
  }
  
  #mods ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .mod-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .mod-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .mod-card h3 {
    margin: 10px 0;
  }
  
  .mod-card p {
    margin-bottom: 10px;
  }
  
  .download-btn {
    display: inline-block;
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .download-btn:hover {
    background-color: #ffcc00;
  }
  h5 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
  }
  h1 {
    color: black;
  }